<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/example_chat.css">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" action="/post" method="post">
            <input type="text" placeholder="name" name="name"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="password" placeholder="confirm password" name="cpassword"/>
            <input type="text" placeholder="email address" name="email"/>
            <button type="submit">create</button>

            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>

          <a href="/posts">hello</a>
        </div>
      </div>

</body>
</html>