<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="form">


    <div class="tabcontent">

        <h1>Reset Password!</h1>

        <form action="/" method="post">


            <div class="field-wrap">
                <label for="npassword">
                    New Password<span class="req">*</span>
                </label>
                <input type="password" placeholder="Enter Password" name="npassword" required autocomplete="off" />
            </div>

            <div class="field-wrap">
                <label for="ncpassword">
                    Confirm Password<span class="req">*</span>
                </label>
                <input type="password" placeholder="Confirm Password" name="ncpassword" required autocomplete="off" />
            </div>

            <button type="submit" class="button button-block" />Save</button>

        </form>




    </div><!-- tab-content -->

</div> <!-- /form -->

</body>
</html>